/*
/*/
!/hrjobcontract
!/hrabsence
!/org.civicrm.hremergency
!/com.civicrm.hrjobroles
!/org.civicrm.reqangular

*~
*.bak
hrabsence/build
hrjob/build
bin/setup.conf
hrabsence/build
.idea/
.sass-cache/
*.sass-cache*

