a.collapsed,
a[data-toggle="collapse"] {
  background: none;
  padding: 0;
  cursor: pointer;

  &:active {
    @include box-shadow(none);
  }
}

.collapse {
  .#{$prefix}contract-details {
    margin-bottom: 20px;
  }
}