.nav-tabs {
  border-bottom: 0 none;
}

.tab-content {
  >.tab-pane {
    @include border-radius($border-radius-base);

    &:first-child {
      @include border-radius(0 $border-radius-base $border-radius-base $border-radius-base);
    }

    border: {
      color: rgb(221, 221, 221);
      style: solid;
      width: 1px;
    }
    padding: 20px;
  }
}