<table class="table table-striped" ng-controller="HistoryController">
    <thead>
    <tr>
        <th>Effective Date</th>
        <th>Position</th>
        <th>Department</th>
        <th>Pay Scale</th>
        <th>Total Salary</th>
        <th>Hours (Full time/ Part time)</th>
        <th>Location</th>
        <th>Change Record By</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2014-10-30</td>
        <td>Front-end Developer</td>
        <td>IT</td>
        <td>NJC</td>
        <td>264000.00 $</td>
        <td>Full time</td>
        <td>London</td>
        <td>John Smith</td>
        <td></td>
        <td><a href="#"
               data-toggle="modal"
               data-action="view"
               data-title="Job Contract (rev. 4.0)"
               data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-default btn-sm btn-danger" ng-click="delete(contract.id)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete this job contract
</button>