<table class="table table-striped">
    <thead>
        <tr>
            <th>Effective Date</th>
            <th>Position</th>
            <th>Department</th>
            <th>Pay Scale</th>
            <th>Total Salary</th>
            <th>Hours (Full time/ Part time)</th>
            <th>Location</th>
            <th>Change Record By</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="revision in $parent.revisionDataList">
            <td>2014-10-30</td>
            <td>{{revision.details.position}}</td>
            <td>IT</td>
            <td>{{revision.pay.pay_scale}}</td>
            <td>{{revision.pay.pay_annualized_est}} {{options.pay.pay_currency[pay.pay_currency]}}</td>
            <td>{{options.hours.hours_type[revision.hours.hours_type]}}</td>
            <td>{{options.details.location[revision.details.location]}}</td>
            <td>John Smith</td>
            <td></td>
            <td><a class="cursor-pointer" ng-click="modalContract('view',revision.revisionId)">view this contract revision</a></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default btn-sm btn-danger" ng-click="delete(contract.id)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete this job contract
</button>