<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Modal title</h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Effective Date</th>
            <th>Field 1</th>
            <th>Field 2</th>
            <th>Field 3</th>
            <th>Change Recorded By</th>
            <th>Reason For Change</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 3.4)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 3.3)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 3.2)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 3.1)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 3.0)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 2.9)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 2.8)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"
                   data-dismiss="modal"
                   data-toggle="modal"
                   data-action="view"
                   data-title="Job Contract (rev. 2.7)"
                   data-target="#{{prefix}}modal-wizard">view this contract revision</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>