<div ng-controller="ExampleCtrl as jobroles">

    <div class="alert {{jobroles.message_type}}" ng-show="jobroles.message">
        {{jobroles.message}}
    </div>

    <div class="page-header">

            <h3 style="display: inline; float: left;">Create New Role</h3>

        <!--
        <div class="col-xs-8">
            <h3 ng-hide = "currentFilterId == 2">Current Roles and Projects</h3>
            <h3 ng-show = "currentFilterId == 2">Inactive Roles and Projects</h3>
        </div>

        -->

        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">

            <form role="form">
                <div class="form-group">
                    <label for="buttonnewrole">&nbsp;</label>
                    <button class="form-control btn btn-info" ng-click="add_new_role()">Add new role</button>
                </div>
            </form>

        </div>

    </div>

    <div ng-show="add_new == true"><div ng-include src="add_new_role_url"></div></div>

    <div class="alert alert-warning" ng-show="jobroles.empty">{{jobroles.empty}}</div>

    <div ng-repeat="(key, job_roles) in jobroles.getData | groupBy: 'status'">

        <h3 class="clear" ng-show="key == 10">Current Roles and Projects </h3>
        <h3 class="clear" ng-hide="key == 10">Past Roles and Projects </h3>

        <div class="main-row" ng-repeat="job_roles_data in job_roles">

        <div class="main-row-header">

            <div class="col-xs-6">
                <h4>Role / Project name:
                    <small>{{edit_data[job_roles_data.id]['title']}}</small>
                </h4>
            </div>

            <div class="col-xs-4">
                <form role="form">
                    <div class="form-group" ng-init="initData(job_roles_data.id, 'status', job_roles_data.status)">
                        <select ng-init="edit_data[job_roles_data.id]['status'] = job_roles_data.status" ng-options="k as filterItem.name for (k, filterItem) in filterItems" ng-model="edit_data[job_roles_data.id]['status']" ng-change="filterChange(job_roles_data.id)" class="btn-setup btn btn-xs"></select>
                    </div>
                </form>
            </div>

            <div class="col-xs-2">
                <button type="button" class="btn-setup btn btn-danger btn-xs" ng-click="removeRole(job_roles_data.id)">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </div>

        </div>

        <button class="btn-setup btn" collapse ng-click="collapseRow(job_roles_data.id)">
            <span class="glyphicon glyphicon-plus" ng-hide="collapsedRows[job_roles_data.id] == false">&nbsp;More Details</span>
            <span class="glyphicon glyphicon-minus" ng-show="collapsedRows[job_roles_data.id] == false">&nbsp;Hide Details</span>
        </button>

        <div class="row" collapse="isThingsCollapsed(job_roles_data.id)">
            <div class="col-sm-2">
                <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist" ng-init="changeTab(job_roles_data.id, 'basic_details')">

                    <li ng-class="{'active': view_tab[job_roles_data.id] == 'basic_details'}">
                        <a class="btn-sm" ng-click="changeTab(job_roles_data.id, 'basic_details')" href="">Basic Details</a>
                    </li>

                    <li ng-class="{'active': view_tab[job_roles_data.id] == 'funding'}">
                        <a class="btn-sm" ng-click="changeTab(job_roles_data.id, 'funding')" href="">Funding</a>
                    </li>

                    <li ng-class="{'active': view_tab[job_roles_data.id] == 'cost_centers'}">
                        <a class="btn-sm" ng-click="changeTab(job_roles_data.id, 'cost_centers')" href="">Cost Centers</a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="tab-content">

                    <div ng-show="isTab(job_roles_data.id, 'basic_details')">

                        <form class="form-horizontal" role="form" editable-form name="editableForm" onaftersave="updateRole(job_roles_data.id)">

                            <div class="form-group" ng-init="initData(job_roles_data.id, 'title', job_roles_data.title)">
                                <!-- editable title + validation -->
                                <label for="title" class="col-xs-3 control-label">Title:</label>
                                <div class="col-xs-6 control-label">
                                    <span editable-text="edit_data[job_roles_data.id]['title']" e-name="title" onbeforesave="validateTitle($data)" e-required>{{ edit_data[job_roles_data.id]['title'] || 'empty' }}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-init="initData(job_roles_data.id, 'job_contract_id', job_roles_data.job_contract_id)">
                                <!-- editable contract select list + validation -->
                                <label for="contract" class="col-xs-3 control-label">Contract:</label>
                                <div class="col-xs-6 control-label">
                                    <span editable-select="edit_data[job_roles_data.id]['job_contract_id']" e-name="contract" e-ng-options="k as v.title for (k, v) in jobroles.contractsData">{{jobroles.contractsData[edit_data[job_roles_data.id]['job_contract_id']]['title']}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-init="initData(job_roles_data.id, 'description', job_roles_data.description)">
                                <!-- editable job role description textarea -->
                                <label for="description" class="col-xs-3 control-label">Description:</label>
                                <div class="col-xs-6 control-label">
                                    <span editable-textarea="edit_data[job_roles_data.id]['description']" e-name="description" e-rows="7" e-cols="40">
                                        <pre>{{ edit_data[job_roles_data.id]['description'] || 'empty' }}</pre>
                                    </span>
                                </div>
                            </div>

                            <!--
                            <div class="form-group">
                                <span class="col-md-2 control-label">Metadata</span>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputKey" class="col-md-1 control-label">Key</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputKey" placeholder="Key">
                                        </div>
                                        <label for="inputValue" class="col-md-1 control-label">Value</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" id="inputValue" placeholder="Value">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->

                            <div>
                                <!-- button to show edit form -->
                                <button type="button" class="btn-setup btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                    Edit
                                </button>

                                <!-- buttons to submit / cancel form -->
                                <span ng-show="editableForm.$visible">
                                    <button type="submit" class="btn-setup btn btn-primary" ng-disabled="editableForm.$waiting">
                                        Save
                                    </button>
                                    <button type="button" class="btn-setup btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                                        Reset
                                    </button>
                                </span>
                            </div>

                        </form>

                    </div>

                    <div ng-show="isTab(job_roles_data.id, 'funding')">
                        {{jobroles.status}}
                        <div class="well well-lg">Some well content</div>
                    </div>

                    <div ng-show="isTab(job_roles_data.id, 'cost_centers')">
                        {{jobroles.status}}
                        <div class="well well-lg">Some well content</div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>

</div>
